.contacts1 {
    // font-family: 'Montserrat', sans-serif !important;
    // text-transform: uppercase;
    // color: #ffffff;
    // font-weight: 600 !important;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 10px;
    // height: 50px;
    // min-width: 220px;
    border-radius: 37px;
    // background: linear-gradient(121deg, #edbd5c, #ce941b);
    // box-shadow: 0 4px 60px -6pxrgba (237, 189, 92, 0.33), 0 2px 0 0 #805e18;
    text-decoration: none;
    font-size: 18px;
    padding: 0 15px;
  }
  
  img {
    width: 300px;
  }
  
  .media {
    width: 100px;
  }